<div class="row">
    
    <div id="devicePane" class="col-sm-7">
        @await Html.PartialAsync("_Device")
    </div>
    <div id="existingDevicesPane" class="col-sm-4">
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#existingDevicesPane').load("/Home/ListDevicePartial");

            $(document).on('click', '#testDevice', function() {
                let audienceId = $('#audienceId')[0].value;
                let product = $('#hwid')[0].value;
                let boardId = $('#boardId')[0].value;
                let fwVersion = $('#deviceVersion')[0].value;
                let fwBuild = $('#deviceFwBuild')[0].value;
                let assetType = $('#assetDropdown')[0].value;

                $('#testalert').load("/Home/TestDevicePartial?audienceId=".concat(audienceId, "&product=", product, "&boardId=", boardId, "&fwVersion=", fwVersion, "&fwBuild=", fwBuild, "&assetType=", assetType));
            });

            $('#resetDevice').click(function(){
                $('#devicePane').load("/Home/DevicePartial");
            });

            $(document).on('click', '.devicelistbutton', function(){
                let id = this.getAttribute('data-devid');
                $('#devicePane').load("/Home/DevicePartial?audienceId=" + id);
            });

            $(document).on('click', '.devicedeletebutton', function () {
                let id = this.getAttribute('data-devid');
                let name = this.getAttribute('data-devname');
                if (confirm('Delete checks for ' + name + '?')) {
                    $.ajax({
                        url: "/Home/DeleteDevice?audienceId=" + id,
                        type: "POST",
                        success: function() {
                            $('#existingDevicesPane').load("/Home/ListDevicePartial")
                        }
                    });
                }
            });
        });
    </script>
}